html {

    background-image: url("images/space.jpg");
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

header {

    height: 250px;
    width: 600px;
    background: #eaeaed;
    text-align: center;
    margin: 40px 350px;
    border-radius: 6px;
    padding: 18px;
}

footer {
    margin: 40px auto;
    padding: 18px;
    background: #eaeaed;
    text-align: center;
    width: 80%;
    height: 10%;
    border-radius: 6px;
}

h1, h2 {
    padding-top: 15px;
}

nav {
    padding: 10px;
}

nav a:link {
    text-transform: uppercase;
    text-decoration: none;

}

nav li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    border-radius: 10px;
    padding: 5px 20px 5px 5px;
    font-size: 16px;
}

table {
    font-family: "HP Simplified Light", sans-serif;
    width: 500px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 40px auto;
    border-radius: 10px;
}

tr {
    border: 1px solid transparent;
    height: 30px;
    padding: 10px 10px;
    text-align: center;
    background: #eaeaed;
}

.topLeft {
    border-radius: 20px 0 0 0;
}

.topRight {
    border-radius: 0 20px 0 0;
}

.botRight {
    border-radius: 0 0 20px 0;
}

.botLeft {
    border-radius: 0 0 0 20px;
}
.top {
    border: 1px solid transparent;
    height: 30px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background: lightskyblue;
    border-radius: 20px;
    color: white;
}

.button {
    position: relative;
    display: inline-block;
    background: lightskyblue;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    line-height: 36px;
    font-size: 14px;
    border: 0 none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "HP Simplified Light", serif;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: background-color .3s;
}

.button:hover, .button:focus {
    color: darkblue;
}

.list{

    background: #eaeaed;
    margin: 40px auto 100px auto;
    border-radius: 6px;
    width: 300px;
    color: #000;
    padding: 18px;
}

.text {
    background: #eaeaed;
    float: left;
    margin: 40px 80px;
    border-radius: 6px;
    width: 800px;
    color: #000;
    padding: 18px;
}

.image {
    width: 360px;
    height: 640px;
    text-align: center;
    display: inline;

}

